<header class="site-header" role="banner">
  <div class="wrapper">
      <nav class="site-nav">
        <div class="nav-logo">
          <img src="assets/self@200.png"/>
        </div>
        <div class="nav-elements">
        {% for page in site.data.navigation %}
        <div class="nav-item {{ page.role }}">
          <a
          id="{{ page.id }}" 
          href="{{ site.baseurl }}{{ page.link }}"
          >
            {{ page.title | escape }}
          </a>
        </div>
        {% endfor %}
      </div>
      </nav>
  </div>
</header>

<script>
  $(document).ready(function () {
    const here = window.location.href;
    let page_id = here.substring(here.lastIndexOf('/') + 1);
    if (!page_id) { page_id = "home"; } // root url => home
    $("#" + page_id).addClass("active");
  });
</script>
