/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  padding-top: 5vw;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size;
}

.page-link {
  float: left;
  color: $text-color;
  line-height: $base-line-height;

  &:not(:last-child) {
    margin-right: 20px;
  }

  // Current page being displayed
  .active {
    font-weight: bold;
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}



/**
 * Bibliography
 */
.bib {
  table {
    all: revert;

    th,
    td,
    tr {
      all: revert;
    }

    th,
    td {
      padding: ($spacing-unit / 6) ($spacing-unit / 2);
    }
  }
}

a.resource {
  border: 1px solid $grey-color-dark;
  color: $grey-color-dark;
  background-color: transparent;
  text-decoration: none;
  font-size: $small-font-size;
  border-radius: $spacing-unit * 0.3;
  padding-left: $spacing-unit * 0.3;
  padding-right: $spacing-unit * 0.3;
  transition: all ease-out 0.2s;

  &:not(:last-child) {
    margin-right: $spacing-unit * 0.1;
  }

  &.pdf {
    border-color: olivedrab;
    color: olivedrab;

    &:hover {
      background-color: olivedrab;
      color: white;
    }
  }

  &.doi {
    border-color: goldenrod;
    color: goldenrod;

    &:hover {
      background-color: goldenrod;
      color: white;
    }
  }

  &.code {
    border-color: SteelBlue;
    color: SteelBlue;

    &:hover {
      background-color: steelblue;
      color: white;
    }
  }

  &.video {
    border-color: Crimson;
    color: Crimson;

    &:hover {
      background-color: crimson;
      color: white;
    }
  }

  &.slides {
    border-color: Sienna;
    color: Sienna;

    &:hover {
      background-color: sienna;
      color: white;
    }
  }

  &.event {
    border-color: SandyBrown;
    color: SandyBrown;

    &:hover {
      background-color: sandybrown;
      color: white;
    }
  }

  &.github {
    border-color: steelblue;
    color: steelblue;

    &:hover {
      background-color: steelblue;
      color: white;
    }
  }

  &.doc {
    border-color: olivedrab;
    color: olivedrab;

    &:hover {
      background-color: olivedrab;
      color: white;
    }

  }

  &.pypi {
    border-color: goldenrod;
    color: goldenrod;

    &:hover {
      background-color: goldenrod;
      color: white;
    }
  }
}


/**
 * Resume
 */
.resume {
  table {
    all: revert;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 $spacing-unit;

    th,
    td,
    tr {
      all: revert;
    }

    td {
      vertical-align: top;
      
      &.exp-content {
        padding: 0rem 0 1rem 1rem;
      }

      &.exp-date {
        text-align: right;
        color: $grey-color-dark;
        font-size: $small-font-size;
        border-right: 1px solid;
        padding: 0rem 0.5rem 1rem 0;
        text-align: right;
      }

      &:nth-child(1) {
        width: 1vw;
      }

      &:nth-child(2) {
        width: 9vw;
      }
    }
  }
}

.edu-skills {
  float: left;

  div {
    float: left;
    border: 1px solid;
    color: $grey-color-dark;
    font-size: $small-font-size;
    border-radius: $spacing-unit * 0.3;
    padding-left: $spacing-unit * 0.2;
    padding-right: $spacing-unit * 0.2;
    margin-top: $spacing-unit * 0.05;
    margin-bottom: $spacing-unit * 0.05;

    &:not(:last-child) {
      margin-right: $spacing-unit * 0.1;
    }

    &#cs {
      border-color: olivedrab;
      color: olivedrab;
    }

    &#cog {
      border-color: Coral;
      color: Coral;
    }

    &#bio {
      border-color: green;
      color: green;
    }

    &#ml {
      border-color: crimson;
      color: crimson;
    }

    &#maths {
      border-color: CornflowerBlue;
      color: CornflowerBlue;
    }

    &#phy {
      border-color: steelblue;
      color: steelblue;
    }

  }

}

table.edu-skills {
  border-spacing: 0px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  td:nth-child(1) {
    width: 1vw;
  }

  td:nth-child(2) {
    width: 3vw;
  }
}

.software-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  @include media-query($on-palm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.software-card {
  border: 1px solid $grey-color-dark;
  border-radius: 20px;
  padding: 5%;
  transition: background-color ease-out 0.5s,
              border-color ease-out 0.5s;

  &:hover {
    background-color: burlywood;
    border-color: #ffff;
  }
}