---
layout: page
---
{%- assign loc = "en" -%}

<strong style="font-size:14pt;">> Download:</strong>&nbsp
<a class="resource pdf-en" style="font-size:12pt;" href="/curriculum/resume_en.pdf">ENGLISH</a>
<a class="resource pdf-fr" style="font-size:12pt;" href="/curriculum/resume_fr.pdf">FRENCH</a>

<br/>
<br/>

{%- include resume_section.html section="research" loc=loc -%}

{%- include resume_section.html section="engineering" loc=loc -%}

{%- include resume_section.html section="software" loc=loc -%}

{%- include resume_section.html section="education" loc=loc -%}

{%- include resume_section.html section="teaching" loc=loc -%}

{%- include resume_section.html section="services" loc=loc -%}

